.dropdown {
  font-family: "Ropa Sans";
  font-size: 16pt;
}

.dropdown .Dropdown-control {
  background: #303038;
  border: none;
  color: #fff;
  width: 90%;
}

.dropdown .arrowDropdown {
  top: 50%;
}

