.btn-Order-list {
  cursor: pointer;
  background: transparent;
  border: none;
}

.table-dark {
  --bs-table-bg: #160E31;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #160E31;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #2e58e2;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #160E31;
}

tbody, td, tfoot, th, thead, tr {
  border-color: none;
  border-style: none;
  border-width: none;
}


.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #241255;
}
