.order-list {
  margin-bottom: 10px;
}

.order-list ul {
  padding: 0;
  margin: 0;
}

.order-list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.order-list ul li .btn-Order-list {
  cursor: pointer;
  background: transparent;
  border: none;
  flex:1
}

.order-list ul li .amount {
  flex: 1;
  text-align: center;
}

.order-list ul li .title {
  flex: 3;
}

.order-list ul li .price {
  flex: 2;
  text-align: center;
}

.order-list ul li .textos .text-item {
  padding: 0 2px;
}

.order-list .total {
  display: flex;
  justify-content: center;
}

.guest {
  margin: 10px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.guest input {
  background: #241743;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.guest button {
  background: #160E31;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.guest-name {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.guest-name .gname {
  color: #ccc;
}

.guest-name button {
  background: #160E31;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.hide {
  display: none;
}