.btnOrderCocina {
  font-size: 30pt;
  height: 80px;
  background: #ffffff;
  width: 100%;
  background: #160e31;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border:none;
  cursor: pointer;
}

.btnOrderCocina:hover {
  background-color: #537CED;
}

.btnOrderCocina h1 {
  color:white;
}

.titleBtn{
  font-size: 20pt;
  color: white;
}



