.subcategories {
  display: flex;
  flex-direction: column;
}

.subcategories button {
  width: fit-content;
  background-color: #232429;
  border:none;
  margin: 2px 0px 2px 0px;
}

.subcategories button:hover{
  background-color: #537CED; 
  color:black;
}
