@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&family=Ropa+Sans&display=swap");

body {
  background: #000000;
}
.container {
  display: flex;
  flex-direction: column;
}

.container main {
  display: flex;
  font-family: "Ropa Sans", sans-serif;
  color: white;
}

.container main .menu {
  flex: 5;
  padding: 0 30px;
}

.container main .pedido {
  flex: 3;
  padding: 0 30px;
}

.container main .menu .sub-menu {
  display: flex;
  margin-top: 5px;
}